<template>
  <div class="mb-6">
    <section class="hero is-medium is-info is-bold mb-6">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">Connect to Github API </h1>
          <h2 class="subtitle">Vue JS, Rest API &amp; Bulma</h2>
        </div>
      </div>
    </section>
    <div class="container">
      <div class="table-container">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>URL</th>
              <th>Language</th>
              <th>Login</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="repo in repos" :key="repo.id">
              <td><router-link to="/commits">{{repo.id}} </router-link></td>
            
               <td>  <router-link to="/commits"> {{repo.name}} </router-link></td>
              <td>{{repo.html_url}}</td>
              <td>{{repo.language}}</td>
              <td>{{repo.owner.login}}</td>
            </tr>
            
          </tbody>
        </table>
      </div>
    </div>
    <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Github Api Vue.js Application</strong> by <a href="https://ezgihendrickx.dev/">Ezgi Hendrickx</a>. The source code is licensed
      <a href="https://gitlab.com/ezgihendrickx/codingtestappeel">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
  </div>
</footer>
  </div>
  
</template>

<script>

import axios from "axios";
export default {
  name: "Repository",
  data () {
      return {
          repos: null,
      };
  },
  created: function() {
      axios.get('https://api.github.com/users/ezgihendrickx/repos').then((response) => { 
          this.repos = response.data;
      });
  }

};
</script>

<style scoped>
/* body {
  font: 15px/1.8 "Poppins", sans-serif ;
} */

.table td,
.table th {
  padding: 20px;
}
</style>