<template>
   <div class="table_wrapper field has-addons ml-6">
    <div class="control ml-30">
          <input class="input" v-model = "search" type="text" placeholder="Find a commit">
         
      </div>
        <div class="control">
          <a class="button is-info search" >
            Search
          </a>
        </div> 
        
    
        <div class="container ml-6 ">
      <div class="table_wrapper ">
        <table class="table is-bordered is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>Message</th>
               <th>Name</th>
              <th>Email</th>
              <th>Date</th>
              <th>URL</th>
            </tr>
          </thead>

  
          <tbody>
            <tr v-for="commit in commits" :key="commit.message">
              <td>{{commit.commit.message}}</td>
               <td>{{commit.commit.author.name}}</td>
                <td>{{commit.commit.author.email}}</td>
              <td>{{commit.commit.author.date}}</td>
              <td>{{commit.html_url}}</td>
            </tr>
            
          </tbody>
    
        
        </table>
      </div>
    </div>
    </div>

</template>

<script>

import axios from "axios";
export default {
  name: "Commits",
  
  data () {
      return {
        search: "",
          commits: null,
          searchResults: [],
      };
  },

 
  created: function() {
      axios.get('https://api.github.com/repos/ezgihendrickx/gatsby-workshop/commits?page=1&per_page=20').then((response) => { 
          this.commits = response.data;
      });
    
  },
  // Dit werkt niet 
  //  computed: {
  //   filteredCommits() {
  //     return this.commits.filter((commit) => commit.commit.message.includes(this.search));
    
  //     }
  
  //   }

  
   
  }
 



</script>

<style scoped>
.table_wrapper {
  overflow-x: auto;
}
.table td,
.table th {
  padding: 20px;
}
</style>