<template>
  <div id="app">
    <Repository />
  </div>
</template>

<script>
import Repository from '../components/Repository'

export default {
  name: 'Home',
  components: {
    Repository
  }
}
</script>


